/.project
/.pydevproject
/pqact-new.conf.state
/nexrad3_attr.pid
/lsrdb.p
/gemglb.nts
/last.nts
/cfg.ini
/logs
/settings.json
parsers/gemglb.nts
parsers/last.nts
util/ridge_processor.pid
/.vscode
/goes/*.nc
.coverage
.eggs/
parsers/pywwa.egg-info/
