/pqact_filer.conf.state
/pqact_iemvs.conf.state
/pqact-afos.conf.state
/pqact-gini.conf.state
/pqact-shef.conf.state
/pqact.conf.state
/.project
/.pydevproject
/pqact-new.conf.state
/nexrad3_attr.pid
/lsrdb.p
/gemglb.nts
/last.nts
/cfg.ini
/logs
/settings.json
