/.project
src/pywwa.egg-info
/.pydevproject
/pqact-new.conf.state
/nexrad3_attr.pid
/lsrdb.p
/gemglb.nts
/last.nts
/cfg.ini
/logs
/dbxref.json
util/rabbitmq.json
**/ridge_processor.pid
/goes/*.nc
.coverage
coverage.xml
.eggs/
build/
