ci:
  autoupdate_schedule: quarterly
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: end-of-file-fixer
        types: [python]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.9"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 'v2.6.0'
    hooks:
      - id: pyproject-fmt

