[tool.pytest.ini_options]
filterwarnings = ["ignore:numpy.ndarray size changed:RuntimeWarning"]

[tool.ruff]
lint.select = ["E", "F", "I", "T"]
target-version = "py39"
line-length = 79

[tool.ruff.lint.per-file-ignores]
"goes/*.py" = ["T201"]
"util/*.py" = ["T201"]
