name: Install and Test
on: [push]
jobs:
  build-linux:
    name: Python (${{ matrix.PYTHON_VERSION }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.7", "3.8", "3.9"]
    env:
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
    steps:
    - uses: actions/checkout@v2

    - name: Add /etc/hosts entries
      run: |
        cat .github/workflows/etchosts.txt | sudo tee -a /etc/hosts

    - name: Setup CI from ci-tooling
      run: |
        git clone --depth 1 https://github.com/akrherz/iem-database.git database
        git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
        . .ci_tooling/postgres.sh
        . .ci_tooling/memcached.sh
        . .ci_tooling/miniconda.sh
        pip install codecov
        python -m pip install . --upgrade
        export PATH="/usr/lib/postgresql/11/bin:$PATH"
        cd database; sh bootstrap.sh
        python schema_manager.py
        cd ..
        cp settings.json-template settings.json
        # This is a bit brittle, but loads some data
        python util/ugcs_update.py fz26jl21 2021 7 26
        python util/merge_hvtec_nwsli.py hvtec_list_05202021.csv
        python util/copy_iem_network.py MN_ASOS
        python util/copy_iem_network.py NY_COOP
        python util/copy_iem_network.py NWSCLI
        python util/copy_iem_network.py NEXRAD
        python util/copy_iem_network.py TWDR
        sh util/run_examples.sh
        coverage run --source=pywwa setup.py test
        if [[ ${{ matrix.PYTHON_VERSION }} == "3.8" ]]; then
          codecov
        fi
