name: Install and Test
on: [push]
jobs:
  build-linux:
    name: Python (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.8", "3.9"]
    steps:
    - uses: actions/checkout@v2

    - name: Add /etc/hosts entries
      run: |
        cat .github/workflows/etchosts.txt | sudo tee -a /etc/hosts

    - name: Setup CI from ci-tooling
      run: |
        git clone --depth 1 https://github.com/akrherz/iem-database.git database
        git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
        . .ci_tooling/postgres.sh
        . .ci_tooling/memcached.sh
        . .ci_tooling/miniconda.sh
        pip install codecov
        python -m pip install . --upgrade
        export PATH="/usr/lib/postgresql/11/bin:$PATH"
        cd database; sh bootstrap.sh
        python schema_manager.py
        cd ..
        cp settings.json-template settings.json
        # This is a bit brittle, but loads some data
        python util/ugcs_update.py fz10nv20 2020 11 10
        python util/merge_hvtec_nwsli.py hvtec_list_10132020.csv
        python util/copy_iem_network.py MN_ASOS
        python util/copy_iem_network.py NY_COOP
        sh util/run_examples.sh
        coverage run --source=pywwa setup.py test
        if [[ ${{ matrix.python-version }} == "3.8" ]]; then
          codecov -e TRAVIS_PYTHON_VERSION;
        fi
